.timer.clearfix
  .col-md-8.col-md-offset-2.text-center
    .col-md-5
      p.digit {{ minutes }}
      p.text Minutes
    .col-md-2(style="padding: 0;margin:0")
      p.digit :
    .col-md-5
      p.digit {{ seconds }}
      p.text Seconds
