extends ../layout

block styles

block content
  .container-fluid
    .row
      .col-md-12
        .card
          .card-header.card-header-icon(data-background-color='red')
            i.material-icons assignment_ind
          .card-header
            h4.card-title Domains Automatically Distributed
          .card-header
            .row(style='display:block !important')
              .col-md-2
                button.btn.btn-success.btn-block(type='button', @click='domainDistribute') Run
    
block scripts
  script(src='/assets/pages/home.js?v=05-08-2017v2')
