extends ../layout

block styles

block content
  include ../partials/spinner
  .container-fluid
    .row
        .col-md-12
            .card
                .card-header.card-header-icon(data-background-color='red')
                    i.material-icons insert_chart
                .card-header
                    h4.card-title Phân phối / Trả vé
                .card-content
                    .row
                        .col-md-4
                            label.col-sm-3(style="padding: 16px 5px 0 0") Loại
                            .col-sm-9(style="margin: -15px 0px 0px 0px")
                                select.form-control(v-model="distribute.type", @change='metChangeType')
                                    option(v-for="r in types", :value="r.value") {{r.name}}
                        .col-md-4
                            label.col-sm-3(style="padding: 16px 5px 0 0") Đại lý
                            .col-sm-9(style="margin: -15px 0px 0px 0px")
                                select.form-control(v-model="distribute.agent", :disabled='allowEditAndDeleteDistribute')
                                    option(v-for="r in agents", :value="r._id") {{r.name}}
                        .col-md-4(v-if='distributeType')
                            label.col-sm-3(style="padding: 16px 5px 0 0") Số cây
                            .col-sm-9(style="margin: -15px 0px 0px 0px")
                                input.form-control(v-model='distribute.block')
                        .col-md-4(v-if='!distributeType')
                            label.col-sm-3(style="padding: 16px 5px 0 0") Số tờ
                            .col-sm-9(style="margin: -15px 0px 0px 0px")
                                input.form-control(v-model='distribute.quantity')
                    .col-md-12.text-right
                        .btn-group
                            button.btn.btn-success(type='button', @click='metNewDistribute') New
                            button.btn.btn-success(type='button', @click='metSaveDistribute') Save
                            button.btn.btn-danger(type='button', @click='metDeleteDistribute') Delete
                    .col-md-12
                        .table-responsive
                            table#datatables.table.table-striped.table-hover
